.main {
    font-family: 'Roboto';
    padding-bottom: 12px;
}

.poster {
    width: 100%;
    padding-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #00000080;
}

.about {
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 16px;
}

.description {
    margin-bottom: 20px;
    font-size: 1rem;
    color: #372c48;
    line-height: 18px;
}

.section {
    width: 100%;
    margin-bottom: 26px;
}

.sectionTitle {
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: 'Kaushan Script';
    color: #3b3838;
}

.table {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #000;
    border-collapse: collapse;
    box-shadow: 0 0 10px #00000080;
}

.col1 {
    width: 120px;
}

.table td {
    padding: 6px 14px;
}

.table tbody tr {
    background-color: #867e7e;
}

.table tr:nth-child(2n + 1) {
    background: #addad6;
}

.btnWrap {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.btn {
    position: relative;
    flex: 0 0 35%;
    width: 45%;
    border: 1px solid #c8d1d1;
    border-radius: 5px;
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    font-weight: bold;
    color: #556270;
    outline: none;
    background-color: #f3f6f6;
    font-family: 'Droid Sans';
    cursor: pointer;
    text-decoration: none;
    transition: transform 200ms linear;
}

.btn:hover,
.btn:focus {
    transform: scale(1.05, 1.05);
}

@media screen and (min-width: 1024px) {
    .main {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        padding-top: 20px;
    }

    .poster {
        margin: 0;
        padding: 0;
        width: 30%;
    }

    .section {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .sectionTitle {
        font-size: 2rem;
    }
    .reviews {
        width: 320px;
        align-self: center;
    }
}
