.section {
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.23));
    background-color: #f3f6f6;
}

.form {
    position: relative;
}

.form::after {
    position: absolute;
    left: 0px;
    bottom: 30px;
    content: '';
    width: 100%;
    height: 3px;
    background-color: #444242;
}

.wrap {
    height: 100px;
    display: flex;
    align-items: center;
}

.icon {
    padding-top: 5px;
    font-size: 30px;
    color: #444242;
    cursor: pointer;
    transition: transform 200ms linear;
}

.icon:hover,
.icon:focus {
    transform: scale(1.05, 1.05);
}

.input {
    padding-left: 8px;
    border: 0;
    min-width: 270px;
    height: 20px;
    font-size: 20px;
    line-height: 24px;
    outline: none;
    background-color: transparent;
    font-family: 'Roboto';
}

.input::placeholder {
    font-size: 16px;
    line-height: 19px;
}

@media screen and (min-width: 1024px) {
    .input {
        width: 962px;
    }
}
