html {
    box-sizing: border-box;
    width: 100vw;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    color: #212121a8;
    background-color: #6e6e6e9a;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

@font-face {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    src: local('Kaushan Script'), local('KaushanScript-Regular'),
        url('./fonts/kaushan-script-v8-latin-regular.woff2') format('woff2'),
        url('./fonts/kaushan-script-v8-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
        url('./fonts/roboto-v20-latin-regular.woff2') format('woff2'),
        url('./fonts/roboto-v20-latin-regular.woff') format('woff');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'),
        url('./fonts/roboto-v20-latin-500.woff2') format('woff2'),
        url('./fonts/roboto-v20-latin-500.woff') format('woff');
}

.container {
    min-width: 300px;
    width: 300px;
    margin: 0 auto;
}

@media screen and (min-width: 1024px) {
    .container {
        width: 992px;
    }
}
